# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.venv/

# Audio / dados grandes
*.flac

# Variáveis / segredos
.env
.env.*

# Logs
*.log

# Testes
.pytest_cache/
.coverage
htmlcov/
.testmondata
